<div id="hola">
  <div class="content-body">
      <h4 class="card-title mb-4 text-center ">Tu carrito de compra</h4>
      <article *ngFor="let item of items" class="row gy-3 mb-4">
          <div class="col-lg-5">
              <figure class="itemside me-lg-5">
                  <div class="aside">
                    <img src={{item.producto.foto}} class="img-sm img-thumbnail"></div>
                  <figcaption class="info">
                      <a href="#" class="title">{{item.producto.nombre}}</a>
                      <p class="text-muted"> {{item.producto.descripcion}}</p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">

              <var class="cantidad h5">{{item.cantidad}}</var>  <br>

          </div>
          <div class="col-lg-2 col-sm-4 col-6">

                  <var class="cantidad h5">${{item.producto.precio}}</var>  <br>

          </div>
          <div class="col-lg col-sm-4">
              <div class="float-lg-end">

                  <a href="#" class="btn bg-color1 "> Remove</a>
              </div>
          </div>
      </article> <!-- row.// -->

  </div> <!-- card-body .// -->



</div>
  <!-- Section-->

  <form class="row g-5 aling-items-center">
    <div class="col text-center " >
      <p class="a"> Codigo de descuento
      </p>
    </div>
    <div class="col aling-items-center" id="aaaa">
      <label for="inputPassword2" class="visually-hidden">Codigo de descuento</label>
      <input type="codigo" class="form-control"  placeholder="">
    </div>
     <div class="col">
       <button type="submit" class="btn btn-white  bg-color1">Aplicar al carrito!</button>
    </div>

  </form>

  <form class="row g-5 aling-items-center">
    <div class="col text-center "  >
      <p class="a"> Ingrese el metodo de pago
      </p>
    </div>
    <div class="col aling-items-center" id="aaaa">
         <select class="form-select">
        <option>EFECTIVO</option>
        <option>TARJETA DE CREDITO</option>
        <option>CHEQUE</option>
           </select>
    </div>
     <div class="col" >

    </div>

  </form>
<!-- EL TOTAL -->
<section class="pepe text-center">
<div class="text-center  ">

  <
  <span class=" me-2 " id="AA">Costo total sin descuento:${{precioSinDescuento}}</span>



  </div>

  <div class="text-center  ">


    <span class=" me-2 " id="AA">Costo total con descuento:${{precioConDescuento}}</span>



    </div>

  </section>
<div class="co text-center">

  <div class="row">
      <div class="col but" id="confirmar">
       <button type="submit" class="btn btn-grande bg-color1">CONFIRMAR COMPRA</button>
    </div>
  </div>

</div>
