<div id="hola">
  <div class="content-body">
      <h4 class="card-title mb-4 text-center ">Tu carrito de compra</h4>
      <article class="row gy-3 mb-4">
          <div class="col-lg-5">
              <figure class="itemside me-lg-5">
                  <div class="aside"><img src="images/items/11.jpg" class="img-sm img-thumbnail"></div>
                  <figcaption class="info">
                      <a href="#" class="title">Winter jacket for men and lady</a>
                      <p class="text-muted"> Yellow, Jeans </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-auto">
              <var class="cantidad h5">3</var>  <br>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="price-wrap lh-sm">
                  <var class="price h5">$1156.00</var>  <br>
                  <small class="text-muted"> $460.00 / per item </small>
              </div> <!-- price-wrap .// -->
          </div>
          <div class="col-lg col-sm-4">
              <div class="float-lg-end">
                  <a href="#" class="btn btn-light"> <i class="fa fa-heart"></i></a>
                  <a href="#" class="btn bg-color1 "> Remove</a>
              </div>
          </div>
      </article> <!-- row.// -->
<article class="row gy-3 mb-4">
          <div class="col-lg-5">
              <figure class="itemside me-lg-5">
                  <div class="aside"><img src="images/items/11.jpg" class="img-sm img-thumbnail"></div>
                  <figcaption class="info">
                      <a href="#" class="title">Winter jacket for men and lady</a>
                      <p class="text-muted"> Yellow, Jeans </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-auto">
              <var class="cantidad h6">3</var>  <br>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="price-wrap lh-sm">
                  <var class="price h6">$1156.00</var>  <br>
                  <small class="text-muted"> $460.00 / per item </small>
              </div> <!-- price-wrap .// -->
          </div>
          <div class="col-lg col-sm-4">
              <div class="float-lg-end">
                  <a href="#" class="btn btn-light"> <i class="fa fa-heart"></i></a>
                  <a href="#" class="btn bg-color1 "> Remove</a>
              </div>
          </div>
      </article> <!-- row.// -->

     <article class="row gy-3 mb-4">
          <div class="col-lg-5" aling="left">
              <figure class="itemside me-lg-5">
                  <div class="aside"><img src="images/items/11.jpg" class="img-sm img-thumbnail"></div>
                  <figcaption class="info">
                      <a href="#" class="title">Winter jacket for men and lady</a>
                      <p class="text-muted"> Yellow, Jeans </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-auto">
              <var class="cantidad h6">3</var>  <br>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="price-wrap lh-sm">
                  <var class="price h6">$1156.00</var>  <br>
                  <small class="text-muted"> $460.00 / per item </small>
              </div> <!-- price-wrap .// -->
          </div>
          <div class="col-lg col-sm-4">
              <div class="float-lg-end">
                  <a href="#" class="btn btn-light"> <i class="fa fa-heart"></i></a>
                  <a href="#" class="btn bg-color1 "> Remove</a>
              </div>
          </div>
      </article> <!-- row.// -->

  </div> <!-- card-body .// -->



</div>
  <!-- Section-->

  <form class="row g-5 aling-items-center">
    <div class="col text-center " align="right" >
      <p class="a"> Codigo de descuento
      </p>
    </div>
    <div class="col aling-items-center" align="center" id="aaaa">
      <label for="inputPassword2" class="visually-hidden">Codigo de descuento</label>
      <input type="codigo" class="form-control"  placeholder="">
    </div>
     <div class="col" align="left">
       <button type="submit" class="btn btn-white  bg-color1">Aplicar al carrito!</button>
    </div>

  </form>

  <form class="row g-5 aling-items-center">
    <div class="col text-center " align="right" >
      <p class="a"> Ingrese el metodo de pago
      </p>
    </div>
    <div class="col aling-items-center" align="center" id="aaaa">
         <select class="form-select">
        <option>EFECTIVO</option>
        <option>TARJETA DE CREDITO</option>
        <option>CHEQUE</option>
           </select>
    </div>
     <div class="col" align="left">

    </div>

  </form>

<div class="container" align="center">

  <div class="row">
      <div class="col" align="center" id="confirmar">
       <button type="submit" class="btn btn-grande bg-color1">CONFIRMAR COMPRA</button>
    </div>
  </div>

</div>
