<nav *ngIf="estaActivo" class="navbar navbar-expand-lg navbar-dark bg-color1">
  <div class="container px-6 px-lg-7 ">
      <img class="mb-4 " src="assets/changuito_1.png" width="72" height="57" alt="Imagen">
      <a class="navbar-brand" href="#!">Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Productos</a></li>
          </ul>
          <form class="d-flex">
              <button class="btn btn-outline-dark" type="submit">
                  <i class="bi-cart-fill me-1"></i>
                  Cart
                  <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
              </button>
          </form>
      </div>
  </div>

</nav>
